<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WebServiceHost.Delete.DeleteDataService">
        <endpoint address="" binding="basicHttpBinding" contract="WebServiceHost.Delete.IDeleteDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WebServiceHost.DeleteData/DeleteDataService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WebServiceHost.FillComboBox.FillComboBoxDataService">
        <endpoint address="" binding="basicHttpBinding" contract="WebServiceHost.FillComboBox.IFillComboBoxDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WebServiceHost.FillComboBox/FillComboBoxDataService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WebServiceHost.Get.GetDataService">
        <endpoint address="" binding="basicHttpBinding" contract="WebServiceHost.Get.IGetDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WebServiceHost.Get/GetDataService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WebServiceHost.Insert.InsertDataService">
        <endpoint address="" binding="basicHttpBinding" contract="WebServiceHost.Insert.IInsertDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WebServiceHost.Insert/IInsertDataService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WebServiceHost.Update.UpdateDataService">
        <endpoint address="" binding="basicHttpBinding" contract="WebServiceHost.Update.IUpdateDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WebServiceHost.Update/UpdateDataService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="HelpDesk_DataBase" connectionString="Data Source=DESKTOP-9Q32QN6;Initial Catalog=HelpDeskDB_TEST;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
